body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu-container {
    flex-basis: 20%;
    display: inline-block;
    text-align: left;
    padding: 0 15px;
}

.pixel-canvas-container {
    flex-basis: 60%;
}

.color-palette-container {
    flex-basis: 20%;
}

input[type="number"] {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: thin solid #ccc;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    font-size: 12px;
    border-radius: 4px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    height: 36px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
    box-sizing: border-box;
}

td {
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}